@import url('https://fonts.cdnfonts.com/css/bankgothic-md-bt');
.navbar{
    height: 100px;
    .wrapper{
        max-width: 1366px;
        margin:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        span{
            
            font-family: 'BankGothic Md BT', sans-serif;
            font-size: x-large;
        }
        .socials{
            display: flex;
            gap: 20px;
            img{
                height: 18px;
                width: 18px;
            }
        }
    }
}